.header {
    padding: 2%;
    background: darkblue;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.header .title {
    font-size: 2em;
}

.header a {
    color: white;
    text-decoration: none;
}

.content {
    padding-top: 20%;
}

.book-card {
    padding: 1%;
    border-bottom: 3px solid black;
}